# Installation files
node_modules/
.DS_Store

# Auth files
auth/
.env

# Reports
test-results/
playwright-report/
allure-results
allure-report

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache